body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:365px;
}
#u6 {
  position:absolute;
  left:100px;
  top:100px;
  width:1314px;
  height:355px;
}
#u7 {
  position:absolute;
  left:2px;
  top:170px;
  width:1310px;
  visibility:hidden;
  word-wrap:break-word;
}
